@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, sunset --prefersdark, nord;
}

@theme {
  --font-sans: 'Inter', sans-serif;
}


.progress-bar {
  position: fixed;
  top: 80px;
  left: 0;
  height: 4px;
  background: var(--color-primary);
  width: 100%;
  transform-origin: 0 50%;
  z-index: 50;
  animation: grow-progress auto linear;
  animation-timeline: scroll();
}

@keyframes grow-progress {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}